<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Data Mahasiswa
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-button type="button" [routerLink]="['/mahasiswa-tambah']" routerLinkActive="router-link-active" color="success"
      expand="block"> Tambah Mahasiswa</ion-button>
  </ion-list>
  <ion-list>
    <ion-list-header>List Data Mahaiswa</ion-list-header>
  </ion-list>
  <ion-card lines="inset" *ngFor="let mahasiswa_value of mahasiswa">
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{ mahasiswa_value.nama }}</ion-label>
      <ion-button color="primary" slot="end" [routerLink]="['/mahasiswa-edit/',mahasiswa_value.nim]"
        routerLinkActive="router-link-active">Edit</ion-button>
      <ion-button color="danger" slot="end" (click)="deleteMahasiswa(mahasiswa_value.nim)">Hapus</ion-button>
    </ion-item>
  </ion-card>
</ion-content>